{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="{% static 'images/xlsx.png' %}" alt=""/>
                        <h3>Welcome</h3>
                        <p>You can generate a XLSX file using the filters from this page!</p>
                    </div>
                    <div class="col-md-9 register-right">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Document Exporter Report</h3>
                                <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row register-form">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" for="{{form.customer.name}}">{{form.customer.label}}</label>
                                            <div class="col-sm-9">
                                                {{ form.customer }}
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" for="filter">Filter By</label>
                                            <div class='col-sm-9 input-group date'>
                                                <select name="filter_by" class="form-control" required>
                                                    <option class="hidden"  selected disabled>---------</option>
                                                    <option value="email_date">By Email Date</option>
                                                    <option value="creation_date">By Creation Date</option>
                                                </select>
                                            </div>
                                        </div>


                                    <div class='form-group row'>
                                        <label class="col-sm-3 col-form-label" for="startDate">Init Date</label>
                                           <div class="col-sm-9 input-group date" id="datetimepicker7" data-target-input="nearest">
                                                <input id="disabledTextInput" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7" name="init_date" required>
                                                <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                    </div>

                                    <div class='form-group row'>
                                        <label class="col-sm-3 col-form-label" for="startDate">Finish Date</label>
                                           <div class="col-sm-9 input-group date" id="datetimepicker8" data-target-input="nearest">
                                                <input id="disabledTextInput" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8" name="finish_date" required>
                                                <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                    </div>

                                        <div class="form-group row">
                                            <div class="col-sm-3"></div>
                                                <div class="col-sm-9 pad">
                                                    <div class="">
                                                        {{ form.sent|as_crispy_field }}
                                                    </div>
                                                </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-3"></div>
                                                <div class="col-sm-9 pad">
                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            <div class="message">
                                                                <div class="{{ message.tags }}">
                                                                    {{ message }}
                                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                        </div>

                                        <button type="submit" class="btnRegister export text-center" >Export</button>
                                        <button type="reset" class="btnRegister reset text-center" >Reset</button>

                                    </div>
                                   </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
{% endblock %}