{% extends "base.html" %}
{% load static %}
{% block title %}<title>List Report</title>{% endblock %}
{% block content %}
<div class="container">
    <table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer</th>
            <th scope="col">Email_Date</th>
            <th scope="col">Parser</th>
            <th scope="col">Options</th>
            <!--th scope="col">Upload File</th-->
            <th scope="col">Created_At</th>
        </tr>
    </thead>
    <tbody>
        {% if report_list %}
            {% for export in report_list %}
                <tr>
                    <th scope="row">{{ export.id }}</th>
                    <td>{{ export.customer.name }}</td>
                    <td>{{ export.email_date }}</td>
                    <td>{{ export.customer.parser }}</td>
                    <td>{{ export.options }}</td>
                    <!--td>{{ export.upload_file }}</td-->
                    <td>{{ export.created_at }}</td>
                </tr>
            {% endfor %}
            <a href="{% url 'app:index' %}" >Reverse</a>

        {% else %}
            <a href="{% url 'app:index' %}" >Reverse</a>
            <h1>There are no records</h1>
        {% endif %}

    </tbody>
  </table>
</div>
{% endblock %}